<%- include ('../../partials/header.ejs');%>
<%- include ('../../partials/navbar.ejs');%>
<div class="container">
    <br>
    <h3>Artigos</h3>
    <a class="btn btn-primary" href="/admin/articles/new">Criar novo artigo</a>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article =>{ %>
                <td><%=article.id%></td>
                <td><%=article.title%></td>
                <td><%=article.slug%></td>
                <td><%=article.category.title%></td>
                <td>Ações</td>
            <% }) %>
         
           
        </tbody>
    </table>
</div>
<%- include('../../partials/footer.ejs');%>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        let decision = confirm("Você quer deletar esta categoria?");
        if(decision){
            form.submit();
        }
    }
</script>